:root {
  --jubgno-: #2b2b2b; /* Mörkgrå panel */
  --juno-panel-border: #999; /* Ljus list */
  --juno-text: #ddd;
  --juno-yellow: #eecf45; /* VCA / Chorus */
  --juno-blue: #5b9bd5; /* DCO / LFO */
  --juno-red: #d94e4e; /* Hold / Arp */
  --juno-white: #f0f0f0; /* Text / Lines */
  --knob-track: #111;
  --knob-handle: #373737;

  --lines: 10; /* Number of lines on the slider track */
}

body {
  background-color: #1a1a1a;
  color: var(--juno-text);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.juno-logo-bar {
  color: var(--juno-text);
  font-size: 3.5rem;
  font-weight: bold;
  text-align: right;
}

.juno-subtitle {
  color: #888;
  font-size: 1.5rem;
  font-weight: normal;
}

/* MAINPANEL */
.juno-panel {
  background-color: var(--juno-bg);
  padding: 30px;
  border-radius: 4px;
  border-top: 4px solid #555;
  border-bottom: 12px solid #222;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: stretch;
  position: relative;
}

/* SECTIONS */
.juno-section {
  border-right: 1px solid var(--juno-white);
  border-bottom: 7px solid var(--juno-red);
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.juno-section:last-child {
  border-right: none;
}

.juno-section-arp,
.juno-section-chorus {
  border-bottom-color: var(--juno-blue);
}

.juno-header {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--juno-text);

  text-align: center;
}

.juno-header-C {
  background-color: var(--juno-red);

  padding: 5px 20px;
  margin: 0 -20px 20px -20px;

  width: calc(100% + 40px);
}

.juno-header-R,
.juno-header-L {
  background-color: var(--juno-blue);

  padding: 5px 20px;
  margin: 0 0 20px 0;
  width: 100%;
}

/* BUTTONS */
.juno-btn {
  background: #444;
  border: 1px solid #222;
  color: #ccc;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 0 #222;
  transition: all 0.1s;

  height: 40px;
  aspect-ratio: 1 / 1;

  padding: 0; /* for perfect square */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.juno-btn:active {
  transform: translateY(2px);
  box-shadow: none;
}

/* Color and glow for active buttons */
.juno-btn.active.yellow {
  background: var(--juno-yellow);
  color: #111;
  box-shadow: 0 0 10px var(--juno-yellow);
}
.juno-btn.active.blue {
  background: var(--juno-blue);
  color: #fff;
  box-shadow: 0 0 10px var(--juno-blue);
}
.juno-btn.active.red {
  background: var(--juno-red);
  color: #fff;
  box-shadow: 0 0 10px var(--juno-red);
}

/* SLIDERS */
.slider-group {
  display: flex;
  gap: 15px;
  height: 180px; /* Fixed height for sliders */
  align-items: flex-end; /* Align sliders to the bottom */
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 160px;
  width: 40px;
  position: relative;
}

.vertical-slider {
  -webkit-appearance: none;
  appearance: none;

  width: 8px;
  height: 140px;
  background: transparent;
  cursor: pointer;
  margin: 0;

  /* Centering logic */
  position: absolute;
  top: 15%;
  left: 50%;

  writing-mode: vertical-lr;
  direction: rtl;
}

.vertical-slider::-webkit-slider-runnable-track {
  width: 24px;
  height: 100%;
  border-radius: 4px;
  background:
    linear-gradient(to right, var(--knob-track), var(--knob-track)) center / 8px
      100% no-repeat,
    repeating-linear-gradient(
      to bottom,
      #fff 0 1px,
      transparent 1px calc((100% - 2px) / (var(--lines) - 1))
    );
}

.vertical-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 24px;
  scale: 1.4 1;
  background: linear-gradient(
    to bottom,
    var(--knob-handle) calc(50% - 1px),
    var(--juno-white) calc(50% - 1px) calc(50% + 1px),
    var(--knob-handle) calc(50% + 1px)
  );
  border: 1px solid #111;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  margin-right: -2px;
}

.vertical-slider::-moz-range-track {
  width: 24px;
  height: 100%;
  border-radius: 4px;
  background:
    linear-gradient(to right, var(--knob-track), var(--knob-track)) center / 8px
      100% no-repeat,
    repeating-linear-gradient(
      to bottom,
      #fff 0 1px,
      transparent 1px calc((100% - 2px) / (var(--lines) - 1))
    );
}

.vertical-slider::-moz-range-thumb {
  height: 20px;
  width: 24px;
  scale: 1.4 1;
  background: linear-gradient(
    to bottom,
    var(--knob-handle) calc(50% - 1px),
    var(--juno-white) calc(50% - 1px) calc(50% + 1px),
    var(--knob-handle) calc(50% + 1px)
  );
  border: 1px solid #111;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.vertical-slider::-moz-focus-outer {
  border: 0;
}
