.keyboard-section {
  background: #222;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 50px;
}

.keyboard-container {
  display: flex;
  justify-content: center;
}

.keyboard-key {
  width: 40px;
  height: 180px;
  margin: 0 2px;
  background: #d9d8d4;
  border: 1px solid #7d7d7d;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}
.keyboard-key-black {
  width: 30px;
  height: 100px;
  background: #000;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 25px;
  z-index: 1;
  cursor: pointer;
}
